# Configuration file

block {
    I:advancedmachines.arrayCable.id=3108
    I:advancedmachines.arrayController.id=3051
    I:advancedmachines.arrayDevice.id=689
    I:advancedmachines.block.id=1741
}


chunkloader {

    playerQuotaOverride {
    }

}


general {
    B:advancedmachines.enableArrayModule_actual=true
    I:advancedmachines.idleEUPerTick=1
    I:advancedmachines.idleEUPerTick_washer=6
    I:advancedmachines.maxArrayWindmillEffectiveHeight=147
    I:advancedmachines.maxVoltage=128
    I:advancedmachines.runningEUPerTick=16
    I:advancedmachines.runningEUPerTick_washer=48
    I:advancedmachines.spinDownRate=2
    I:advancedmachines.spinUpRate=1
    B:advancedmachines.useOreDictionaryIronPlate=false
    B:autoAssign=false
    B:chunkloader.allowFuelPiping=true
    B:chunkloader.bypassForgeChunkLimits=true
    B:chunkloader.enableCrafting=true

    # comma-separated list of mod:item-name@meta=number-of-ticks or mod:item-name=number-of-ticks
    S:chunkloader.fuels=minecraft:iron_ingot=1405,minecraft:diamond=288000,minecraft:gold_ingot=2811,minecraft:ender_eye=800,minecraft:coal_block=3600,minecraft:nether_star=864000,minecraft:emerald=54000
    B:chunkloader.hideOtherPlayersLoadersInF9=false

    # Maximum number of chunks loaded by each player. Use -2 for unlimited.
    I:chunkloader.maxChunksPerPlayer=9

    # If true, chunkloaders placed by a player will only load chunks while that player is online.
    B:chunkloader.requireOnline=false
    B:chunkloader.useFuel=true
    B:core.assumeIDResolver=true

    # name of TPS command, without the slash. leave blank to disable.
    S:core.command.tps.name=dimanctps
    B:core.ignoreBuildcraftCore=false
    B:core.ignoreBuildcraftTransport=false
    B:core.ignoreIC2=false

    # advanced setting: comma-separated list of classes to ignore when generating dynamic inheritance chains
    S:core.mictransformer.ignoredClasses=

    # Which power system should be used. Possible values are: ic2 (IndustrialCraft 2's energy network), minecraftJoules (Buildcraft's power system, also used by other mods), redstoneFlux (Thermal Expansion's power system, also used by other mods), infinite (power is free)
    S:preferredEnergySystem=redstoneFlux
}


item {
    I:advancedmachines.sharpPlate=5620
}


logging {
    # Name of a file to keep updated with a list of all active chunk loaders. Blank for none.
    S:chunkloader.listFileName=ListOfActiveChunkLoaders

    # Name of a file to log creation, deletion and editing of chunk loaders to. Blank for none.
    S:chunkloader.logFileName=ListOfEditingChunkLoaders
}


