# Configuration file

entitiesalwaysinfernal {
    B:Creeper=false
    B:Enderman=false
    B:EntityCreeper=false
    B:EntityEnderman=false
    B:EntitySkeleton=false
    B:EntitySpider=false
    B:EntityWitch=false
    B:EntityZombie=false
    B:Skeleton=false
    B:Slime=false
    B:Spider=false
    B:TConstruct.EdibleSlime=false
    B:Thaumcraft.BrainyZombie=false
    B:Witch=false
    B:Zombie=false
    B:witchery.lordoftorment=false
}


entitybasehealth {
    D:Creeper=20.0
    D:Enderman=40.0
    D:EntitySkeleton=20.0
    D:EntityZombie=20.0
    D:Skeleton=40.0
    D:Spider=16.0
    D:Witch=26.0
    D:Zombie=40.0
    D:witchery.lordoftorment=500.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=false
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=6
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=5
    B:useSimpleEntityClassnames=false
}


permittedentities {
    B:Creeper=true
    B:Enderman=true
    B:EntityCreeper=true
    B:EntityEnderman=true
    B:EntitySkeleton=true
    B:EntitySpider=true
    B:EntityWitch=true
    B:EntityZombie=true
    B:Skeleton=true
    B:Slime=true
    B:Spider=true
    B:TConstruct.EdibleSlime=true
    B:Thaumcraft.BrainyZombie=true
    B:Witch=true
    B:Zombie=true
    B:witchery.lordoftorment=true
}


